html,
body {
  margin: 0px;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column wrap;
}

#content {
  flex: 1 1;
  order: 2;
  display: flex;
}

#mapid {
  flex: 1;
}

.popup-ul {
  margin: 0px;
}
